body {
    background-color: #faf5e4;
}

.header {
    padding: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Arial, sans-serif;
    background-color: #f8b400;
    color: #004445;
}

